omegaconf 
h5py 
pytorch_lightning 
onnxruntime-gpu==1.8.0
insightface==0.2.1 
scikit-image 
opencv-contrib-python
dominate 
streamlit 
stqdm 
streamlit-webrtc 
Tmlog  
slack_async_alert
onnx2torch 
cucim 
albumentations 
kornia 
nvitop 
tictectoc 
alert2me